<launch>

  <arg name="sim" default="false" />

  <arg name="waypoint_file" default="simple_waypoints.yaml" />

  <node pkg="cooperative_patrol" type="patrol_motion.py" name="patrol_state_machine" output="screen">
    <rosparam file="$(find cooperative_patrol)/param/patrol/$(arg waypoint_file)" command="load" />
    <param name="time_thresh" value="20.0" />
    <param name="pos_thresh" value="0.02" />
    <param name="yaw_thresh" value="0.02" />
    <param name="pos_k_gain" value="2.0" />
    <param name="yaw_k_gain" value="2.0" />
  </node>

  <node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer" output="screen" if="$(arg sim)" />

</launch>
