<launch>

  #### AGV ####
  <include file="$(find cooperative_patrol)/launch/aibot_bringup.launch" >
    <arg name="simulation" value="true" />
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world" />
    <arg name="map_file" value="$(find cooperative_patrol)/map/turtlebot3/turtlebot3_gazebo_world_map.yaml" />
  </include>

  ### Patrol ###
  <include file="$(find cooperative_patrol)/launch/patrol.launch" >
    <arg name="waypoint_file" value="turtlebot3_gazebo_wp.yaml" />
    <arg name="sim" value="true" />
  </include>

  ### rviz ###
  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find cooperative_patrol)/config/patrol.rviz" />

</launch>
